.frame-img-top {
    border-radius: 3px;
    width: 130px;
    margin-right: 10px;
}

.frame {
    padding: 10px;   
}

.about-us-ppl {
    margin-top: 10px;
    font-weight: 600;
    border-radius: 6px;
    font-size: 14px;
}

.frame:hover {
    transform: scale(1.2);
}